<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <button class="mx-auto btn btn-primary text-white">
            <a th:href="@{/login}" style="text-decoration: none" class="text-white">Login</a>
        </button>
        <!-- Sec tutaj tylko wyswietli nam guzik wylogowania jak bedziemy zalogowani -->
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="hidden"/>
            <button type="submit" class="btn btn-outline-primary ml-sm-3">Logout</button>
        </form>
    </div>

</body>
</html>